* {
  margin: 0;
}

main {
  background-color: #F6F6F6;
}

.hidden {
  display: none;
}

h1 {
  font-size: 8vw;
  padding: 3.5vw 0 1.5vw 0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.heading__font, .menu-board__header {
  font-family: "Shrikhand", sans-serif;
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 1.5rem 1.8rem 2rem 1.7rem;
}
footer h3 {
  margin-bottom: 1rem;
}

#footer__list {
  padding: 0;
  list-style: none;
}
#footer__list i {
  font-size: 0.8rem;
  margin-right: 0.8rem;
}
#footer__list li {
  margin-bottom: 0.5rem;
}
#footer__list a {
  color: white;
}

header {
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
header img {
  padding: 22px 0 10px;
  width: 170px;
}

#return__icon {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  padding: 2rem;
}
nav h2 {
  padding: 0.5rem 1.8rem;
  font-weight: 500;
}
nav p {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.button {
  position: relative;
  padding: 1rem;
  margin: 1.3rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border-style: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC -20%, #FF79DA 120%);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.2s ease-in-out;
  z-index: 1;
}
.button--alt {
  padding: 1rem 3rem;
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(0deg, #ae80e5 -20%, #fface8 120%);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-out;
  opacity: 0;
  z-index: -1;
}

#geolocate {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#geolocate__icon {
  margin-right: 1rem;
}
#geolocate__text {
  margin-right: 1rem;
  font-weight: 500;
}

.howto {
  background-color: white;
  padding: 1rem 1rem 2.5rem 1rem;
  position: relative;
}
.howto h2 {
  text-align: left;
  padding: 2rem 0 1.5rem 0;
}
@media screen and (min-width: 992px) {
  .howto__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.howto__container {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  margin: 0 0 1.5rem 1rem;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 992px) {
  .howto__container {
    width: 27%;
  }
}
.howto__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1rem;
  height: 1rem;
  right: 2rem;
  padding: 0.35rem;
  color: white;
  background-color: #9356DC;
  border-radius: 5vw;
}
.howto__icon {
  display: flex;
  align-items: center;
  position: relative;
  color: #7E7E7E;
  margin-right: 1rem;
  right: 1rem;
  font-size: 1.2rem;
}
.howto__icon--alt {
  color: #9356DC;
}
.howto__text {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  right: 1rem;
  font-weight: 500;
}
.howto__container--alt {
  background-color: #F5EDFF;
}

.menu {
  padding: 1rem 1rem 2.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu h2 {
  text-align: left;
  padding: 2rem 0 1.5rem 0;
}
.menu .menu-card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 1.3rem;
  height: 16rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .menu .menu-card {
    width: 49%;
  }
}
@media screen and (min-width: 992px) {
  .menu .menu-card {
    width: 49%;
  }
}
.menu .menu-card a {
  display: block;
  height: 100%;
  width: 100%;
}
.menu .menu-card__image {
  border-radius: 15px 15px 0 0;
  height: 70%;
}
.menu .menu-card__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
}
.menu .menu-card__body {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.menu .menu-card__text h3 {
  padding: 0.8rem 0 0 1rem;
}
.menu .menu-card__text p {
  padding: 0.2rem 0 1rem 1rem;
}
.menu .menu-card i {
  font-size: 1.5rem;
  padding: 1.5rem;
}

@media screen and (min-width: 992px) {
  .menu-wrapper {
    display: flex;
  }
}

.menu-board {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: 50% bottom;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .menu-board {
    height: 40rem;
  }
}
.menu-board__header {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-board h1 {
  font-size: 2rem;
  padding: 0.75rem;
}

.favorite-icon-parent {
  position: relative;
  height: 1.5rem;
  width: 3.5rem;
}

.favorite-icon {
  font-size: 1.5rem;
}
.favorite-icon--anim {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  color: #9356DC;
}

.menu-category {
  text-align: left;
  padding: 1rem;
}
@media screen and (min-width: 992px) {
  .menu-category {
    width: 30%;
  }
}
.menu-category h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem 0;
}
.menu-category__separator {
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-bottom: 1rem;
}
.menu-category__entry {
  background-color: white;
  border-radius: 15px;
  height: 4.2rem;
  margin-bottom: 0.9rem;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.menu-category__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  padding: 0.75rem;
  width: 48vw;
}
.menu-category h3, .menu-category p {
  width: 80vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-category__price {
  display: flex;
  align-items: flex-end;
  width: min-content;
  padding: 0.8rem;
  font-weight: 500;
}
.menu-category__check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 20vw;
  height: 100%;
  background-color: #99E2D0;
  color: white;
}

.fadein {
  animation: fade-in 1000ms ease-in-out both;
}
.fadein--1 {
  animation-delay: 500ms;
}
.fadein--2 {
  animation-delay: 1000ms;
}
.fadein--3 {
  animation-delay: 1500ms;
}
.fadein--4 {
  animation-delay: 2000ms;
}
.fadein--5 {
  animation-delay: 2500ms;
}
.fadein--6 {
  animation-delay: 3000ms;
}
.fadein--7 {
  animation-delay: 3500ms;
}
.fadein--8 {
  animation-delay: 4000ms;
}
.fadein--9 {
  animation-delay: 4500ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
  }
}
.menu-category__check {
  overflow: hidden;
  transform: translateX(20vw);
  transition: transform 400ms ease-in-out;
}
.menu-category__check > .menu-category__icon {
  transform: rotate(180deg);
  transition: transform 400ms ease-in-out;
}

.menu-category__price {
  transform: translateX(20vw);
  transition: transform 400ms ease-in-out;
}

.menu-category__entry:hover > .menu-category__check {
  transform: translateX(0);
}
.menu-category__entry:hover > .menu-category__check > .menu-category__icon {
  transform: rotate(0deg);
}
.menu-category__entry:hover > .menu-category__price {
  transform: translateX(0);
}
.menu-category__entry:hover h3, .menu-category__entry:hover p {
  width: 60vw;
}

.favorite-icon--anim {
  transform: scaleY(0);
}

.favorite-icon-parent:hover .favorite-icon--anim {
  animation: favorite 300ms ease-in-out both;
}

@keyframes favorite {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
.spinner {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  animation: loaded 0s linear 3ms 1 forwards;
}
.spinner__icon {
  position: relative;
  display: block;
  color: #9356DC;
  font-size: 20vw;
  left: 0;
  top: calc(50% - 10vw);
  animation: spinner 1ms ease-out 3;
}

@keyframes loaded {
  100% {
    left: 100%;
    overflow: hidden;
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(160deg);
  }
  80% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
    transition-timing-function: ease-out;
  }
}

/*# sourceMappingURL=style.css.map */
