header, #geolocate, nav, section, footer {
    background-color: aquamarine;
}

// .menu-card {
//     background-color: orchid;
// }
/* ^^^ Temporaire ^^^ */

/* CSS */
body {
    margin: 0;
    text-align: center;
}