.button {
    position: relative;
    padding: 4.5vw 5vw;
    margin: 6vw 0;
    color: white;
    font-size: 4vw;
    font-weight: 500;
    border-style: none;
    border-radius: 25px;
    background: linear-gradient(0deg, $color-primary -20%, $color-secondary 120%);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.2s ease-in-out;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;
        background: linear-gradient(0deg, $color-primary -50%, $color-secondary 80%);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

#return__icon {
    position: absolute;
    left: 9%;
    top: 50%;
    transform: translate(-50%, -50%);
}