$dish-count: 4;
$fade-in-delay: 167ms;

.fadein {
    animation: fade-in 1000ms ease-in-out both;

    @for $i from 1 through $dish-count {
        &--#{$i} {
            animation-delay: $fade-in-delay * $i;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
    }
}