.fadein {
    animation: fade-in 1000ms ease-in-out both;

    @for $i from 1 through $num-dishes {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
    }
}