.favorite-icon-parent {
    position: relative;
    height: 1.5rem;
    width: 3.5rem;
}

.favorite-icon {
    font-size: 1.5rem;

    &--anim {
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        // left: 0;
        color: $color-primary;
        background: linear-gradient(0deg, $color-primary -20%, $color-secondary 120%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/////
.favorite-icon {
    opacity: 1;
    
    &--anim {
        transform: scaleY(0);
    }
}

.favorite-icon-parent:hover {
    .favorite-icon {
        opacity: 0;
        transition: opacity 300ms ease-in-out both;

    }

    .favorite-icon--anim {
        animation: favorite 300ms ease-in-out both;
    }
}

@keyframes favorite {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    80% {
        transform: scale(1.15);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
    }
}