.favorite-icon {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    opacity: 1;

    &--anim {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        transform: scale(0);
        position: absolute;
        top: 0;
        color: $color-primary;
        background: $color-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.favorite-icon-parent {
    position: relative;
    width: 1.5rem;
    margin-right: 1rem;

    &:hover {
        .favorite-icon {
            animation: favorite-icon 300ms cubic-bezier(1,0,.97,.81) forwards;

        }

        .favorite-icon--anim {
            animation: favorite-anim 300ms cubic-bezier(.6,.65,.32,.94) both;
        }
    }
}

@keyframes favorite-anim {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    80% {
        transform: scale(1.15);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes favorite-icon {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}