.menu-category__text{
    margin-right: -4rem;
    transition: margin-right 400ms ease-in-out;
}

.menu-category__check {
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;

    & > .menu-category__icon {
        transform: rotate(180deg);
        transition: transform 400ms ease-in-out;
    }
}

.menu-category__price {
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
}

.menu-category__entry {

    &:hover {

        .menu-category__text{
            margin-right: 0;
        }

        & > .menu-category__check {
            transform: translateX(0);

            & > .menu-category__icon {
                transform: rotate(0deg);
            }
        }

        & > .menu-category__price {
            transform: translateX(0);
        }

        h3, p {
            // width: 80vw - $width - 1vw;
        }
    }
}