$width: 20vw;

.menu-category__check {
    overflow: hidden;
    transform: translateX($width);
    transition: transform 400ms ease-in-out;

    & > .menu-category__icon {
        transform: rotate(180deg);
        transition: transform 400ms ease-in-out;
    }
}

.menu-category__price {
    transform: translateX($width);
    transition: transform 400ms ease-in-out;
}

.menu-category__entry {

    &:hover {

        & > .menu-category__check {
            transform: translateX(0);

            & > .menu-category__icon {
                transform: rotate(0deg);
            }
        }

        & > .menu-category__price {
            transform: translateX(0);
        }

        h3, p {
            width: 80vw - $width;
        }
    }
}