$slide-in-duration: 500ms;

.menu-category__text{
    margin-right: -4rem;
    transition: margin-right $slide-in-duration ease-in-out;
}

.menu-category__check {
    transform: translateX(100%);
    transition: transform $slide-in-duration ease-in-out;

    & > .menu-category__icon {
        transform: rotate(-270deg);
        transition: transform $slide-in-duration linear;
    }
}

.menu-category__price {
    transform: translateX(100%);
    transition: transform $slide-in-duration ease-in-out;
}

.menu-category__entry {

    &:hover {

        .menu-category__text{
            margin-right: 0;
        }

        & > .menu-category__check {
            transform: translateX(0);

            & > .menu-category__icon {
                transform: rotate(0deg);
            }
        }

        & > .menu-category__price {
            transform: translateX(0);
        }
    }
}