$shapes: 8;
$shapes-delay: 375ms;
$inner-circles: 3;
$border-size: 8px;
$holder-size: 80px;
$dot-size: 15px;
$loading-duration: 2000ms;

.loading-spinner {
    position:fixed;
    overflow: hidden;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, .8);
    z-index: 10;
    animation: loaded 0s linear $loading-duration 1 forwards;

    .dots-container {
        z-index: 10;
        display: inline-block;
        width: $holder-size;
        height: $holder-size;
        position: absolute;
        left: calc(50% - $holder-size / 2);
        top: calc(50% - $holder-size / 2);
    }    
    
    .inner-circle {
        @for $i from 1 through $inner-circles {
            &--#{$i} {
                position: absolute;
                box-sizing: border-box;
                left: calc(50% - $holder-size / 2);
                top: calc(50% - $holder-size / 2);
                width: calc($holder-size - (#{$i} - 1) * 20px);
                height: calc($holder-size - (#{$i} - 1) * 20px);
                border: $border-size solid $color-primary;
                margin: calc(((#{$i}) - 1) * 10px);
                border-radius: 50%;
                animation: color-shuffle $loading-duration linear infinite both;
                animation-delay: calc(-1s + #{$i} * 100ms);
            }
        }
    }
}

.dot-shape {
    @for $i from 1 through $shapes {
        &:nth-child(#{$i}) {
            animation-delay: calc(($shapes-delay * $i * -1));
            opacity: calc(1 - ((1 / $i) / 2));
        }
    }

    &:nth-child(3n) {
        &:after {
        background: $color-primary;
        }
    }  

    &:nth-child(3n+1) {
        &:after {
        background: $color-secondary;
        }
    }  

    &:nth-child(3n+2) {
        &:after {
        background: $color-tertiary;
        }
    } 

    transition: width .5s, height .5s;
    animation: spinning-dots 6000ms linear infinite;
    transform-origin: calc($holder-size /2) calc($holder-size / 2);
}

.dot-shape::after {
    content: " ";
    display: block;
    position: absolute;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
}

#no-scroll {
    height: 100vh;
    animation: no-scroll $loading-duration backwards;
}

@keyframes no-scroll {
    from, to { overflow: hidden; }    
}

@keyframes color-shuffle {
    0% {
        border: $border-size solid $color-primary;
    }

    25% {
        border: $border-size solid $color-secondary;
    }

    50% {
        border: $border-size solid $color-tertiary;
    }

    75% {
        border: $border-size solid $color-secondary;
    }

    100% {
        border: $border-size solid $color-primary;
    }
}

@keyframes spinning-dots {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes loaded {
    100% {
        left: 100%;
        overflow: hidden;
        visibility: hidden;
    }    
}