* {
    margin: 0;
}

main {
    background-color: $main-bg-color;
}

.hidden { display: none; }

h1 { 
    font-size: 8vw; 
    padding: 3.5vw 0 1.5vw 0;
}

a {
    color: black;
}

img {
    width: 100%;
    object-fit: cover;
}