.menu-board {
    background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    height: 81vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__header {
        background-color: $main-bg-color;
        border-radius: 40px 40px 0 0;
        padding: 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-board__icon-parent {
    position: relative;
    height: 6vw;
    // background-color: linear-gradient(0deg, $color-primary -20%, $color-secondary 120%);
}

.menu-board__icon {
    font-size: 6vw;
    // padding: 5vw;

    &--anim {
        font-size: 6vw;
        // padding: 5vw;
        position: absolute;
        top: 0;
        left: 0;
        color: $color-primary;
        // transform-origin: 0 -1;
    }
}

.menu-category {
    text-align: left;
    padding: 3vw;

    h2 {
        font-size: 4.5vw;
        font-weight: 300;
        margin: 1vw 0;
    }

    &__separator {
        display: block;
        background-color: $color-tertiary;
        height: 3px;
        width: 40px;
        margin-bottom: 3vw;
    }

    &__entry {
        background-color: white;
        border-radius: 15px;
        height: 17vw;
        margin-bottom: 4vw;
        display: flex;
        justify-content: flex-start;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }

    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 3vw;
        width: 60%;
    }

    h3, p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        width: min-content;
        padding: 3vw;
    }

    &__check {
        background-color: $color-tertiary;
        color: white;
        font-size: 6vw;
        width: 20vw;
        height: 100%;
        display: flex;
        flex-shrink: 1;
        justify-content: center;
        align-items: center;
    }
}