// Mixins
// Breakpoints
$breakpoints: (
    tablet: 768px,
    desktop: 992px,
);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin desktop-large {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

// Breakpoints
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: calc(map-get($breakpoints, desktop) - 0.01px)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}