// COLORS
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$geolocate-bg-color: #EAEAEA;
$nav-bg-color: #F6F6F6;
$howto-bg-color: #F6F6F6;
$howto-icon-color: #7E7E7E;
$howto-container-bg-color: #F5EDFF;
$menu-bg-color: #F6F6F6;
$menu-new-font-color: darken($color-tertiary, 20%);
$footer-bg-color: #353535;