header {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);

    img {
        padding: 22px 0 10px;
        width: 170px;
    }
}

#return__icon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
}